:root {
    --theme-color: rgb(123, 209, 217);
    --backgroud-color: rgba(0, 0, 4, 0.795);
    --main-color: rgb(25, 77, 92);
    
    
}

* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgba(233, 234, 249, 0.844);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroud-color);

}

header h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 100px;
    background-color: var(--theme-color);
    font-size: 40px;
    color: var(--backgroud-color);
}

header nav {
    padding-right: 70px;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
    
}
 header nav ul li a {
    padding: 2px;
    color: var(--theme-color);
    font-size: 20px;
    text-decoration: none;
    border-bottom: solid var(--theme-color) 3px;

 }

  .background {
    position: relative;
    height: 200px;
    background-image: url(../images/stripes.jpg)
    
 }

 .background h2 {
    position: absolute;
    right: 60px;
    bottom: 20px;
    padding: 10px;
    background-color: var(--theme-color);
    font-size: 30px;
    color: var(--backgroud-color);
 }

 main {
    margin-top: 20px;
 }

 .layout{
    display: flex;
    color: var(--main-color);
    margin-bottom: 20px;

 }

 .leftside {
   width: 25%;
   margin-right: 20px;
   /* padding-right: 20px; */
   font-size: 40px; 
   text-align: right; 
 }
 
 .rightside {
   display: flex;
   flex-direction: column;
   width: 75%;
   border-left: solid 4px var(--main-color);
   padding: 0px 100px 20px 40px;
 }

 .content {
    position: relative;
    border: solid 5px var(--theme-color);
    margin-top: 15px;
    overflow: hidden;
 }
 
 #surf {
   /* NOTE: create media query to add this width in on small device only  */
    /* width: 100%; */
    height: 300px;
 }

 /* make the image still cover the whole figure box when resizing the browser  */
 .surf-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 /* make two small images in a line into one flexbox */
 .card-inline {
    display: flex;
    justify-content: space-between;
 }

 /* set the height and width for each small image */
 .smallbox {
    height: 125px;
    width: 50%;
 }

 #led-wall, #pastel-puzzles{
    margin-right: 15px;
 }

 /* set css style for the small title on each image */
 .item {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 10px;
    background-color: var(--theme-color);
    color: var(--main-color);
 }

 .item-title {
    font-size: 25px;
    font-weight: normal;
 }

 .item-subtitle {
    font-size: 12px;
 }

 .footer {
   flex-direction: row;
   justify-content: center;
 }

 .footer-list {
    margin: 30px 0px;
    display: flex;
    width: 80%;
    justify-content: space-between;
 }

 .footer-list li {
    display: inline-block;
 }

 .footer-list li a {
    padding: 2px 5px;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
    border-bottom: solid 3px var(--main-color);
 }

 /* make the images blur while mouse not on them */
 .blur-img {
   width: 100%;
   opacity: 0.3;
 }

 /* make the images no blur while mouse on them */
 .blur-img:hover {
   transition: 0.3s;
   opacity: 1;
 }

 @media screen and (max-width: 768px) {

   header nav {
         padding-right: 10px;
      }
   .leftside {
      font-size: 20px;
   }
   .card-inline {
      flex-direction: column;
      width: 100%;
   }
   .smallbox {
      width: 100%;
   }
   .footer-list {
      flex-direction: column;
   }
   .footer-list li {
      padding: 10px;
   }
   #surf {
      width: 100%;
   }

 }